@import "./reset.css";
@import "./base.css";
@import "./components/button.css";
@import "./components/input.css";
@import "./components/select.css";
@import "./components/modal.css";
@import "./components/link.css";
@import "./components/form.css";
@import "./components/check.css";

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  min-height: 100%;
  overflow-y: auto;
}